/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    box-sizing: border-box;
}


body{
    background-color: rgb(41, 39, 39);
}

section{
    padding: 10px 0 8px;
}

.container {
    max-width: 1300px;
    margin: auto;
    width: 100%;
}

/*=============== Login ===============*/

.masuk{
    padding: 20px 80px;
}


/*=============== HEADER & NAV ===============*/
.container1 {
    max-width: 1300px;
    margin: auto;
    width: 100%;
}
.header {
    width: 100%;
    background: rgb(41, 39, 39);
    box-shadow: rgb(255,181,102) 0 1px 4px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
  
.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bxs-watch{
    color: rgb(255,181,102);
}


.nav__logo {
    margin-left: 180px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
}
.nav__logo span {
    color: rgb(255,181,102);
}
.nav__menu {
    font-size: 30px;
    color: rgb(255,181,102);
}

@media screen and (max-width: 800px){
    .container1 {
        max-width:500px;
    }

    .nav__menu {
        font-size: 20px;
    }

    .nav {
        height: 60px;
    }
    
    .nav__logo {
        margin-left: 70px;
        font-size: 15px;
        font-weight: 500;
    }
}

@media screen and (max-width: 500px){
    .container1 {
        max-width:350px;
    }
    .nav__menu {
        font-size: 15px;
    }

    .nav {
        height: 40px;
    }
    
    .nav__logo {
        margin-left: 50px;
        font-size: 10px;
        font-weight: 500;
    }
}
/*=============== Toggle Menu ===============*/
.overlay {
    
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(54, 50, 50);
    background-color: rgb(54, 50, 50, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.topoverlay{
    display: flex;
}

.overlay-content {
    position: relative;
    width: 100%;
    padding: 0 20px;
    text-align: left;
    margin-top: 100px;
}
  
.overlay a {
    padding: 2px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
}

.logout a:hover {
    color: rgb(255,181,102);
}

.logout a {
    position: absolute;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    transition: 0.3s;
    bottom: 0;
}

.overlay-content a:hover {
    color: rgb(255,181,102);
}

.closebtn i:hover{
    color: rgb(255,181,102);
}

.overlay .closebtn {
    margin-top: 5px;
    text-align: left;
    font-size: 50px;
}

.bxs-user{
    color: rgb(255,181,102);
    font-size: 30px;
}
.overlay .nav__logo1 {
    display: inline-flex;
    text-align: center;
    font-size: 30px;
    margin-left: 140px;
}
  
@media screen and (max-width: 800px) {
    .overlay a {
        font-size: 18px
    
    }
    .overlay-content {
        width: 100%;
        padding: 0 20px;
        margin-top: 150px;
    }
    .overlay .closebtn {
        margin-top: 5px;
        font-size: 40px;
    }
    .bxs-user{
        font-size: 20px;
    }
    .overlay .nav__logo1{
        font-size: 20px;
        margin-left: 30px;
    }
    
    .logout a {
        padding: 0 15px;
        text-decoration: none;
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .overlay a {
        font-size: 10px
    
    }
    .overlay-content {
        width: 100%;
        padding: 0 10px;
        margin-top: 150px;
    }
    .overlay .closebtn {
        margin-top: 5px;
        font-size: 20px;
    }
    .bxs-user{
        font-size: 15px;
    }
    .overlay .nav__logo1{
        font-size: 15px;
        margin-left: 25px;
    }
    
    .logout a {
        padding: 0 10px;
        text-decoration: none;
        font-size: 15px;
    }
}


/*=============== SEARCH ===============*/
.search {
    width: 100%;
    position: relative;
    display: flex;
}
  
.searchTerm {
    width: 100%;
    border: 2px solid rgb(255,181,102);
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm:focus{
    color: rgb(255,181,102);
}
  
.searchButton{
    width: auto;
    height: 30px;
    padding: 0 5px;
    border: 1px solid rgb(255,181,102);
    background: rgb(255,181,102);
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
  
header .wrap{
    width: 18%;
}

@media screen and (max-width: 800px){
    .search {
        width: 100%;
        position: relative;
        display: flex;
    }
    
    .searchTerm {
        font-size: 8px;
        padding: 5px;
        height: 20px;
    }
      
    .searchButton{
        height: 20px;
        font-size: 12px;
        padding: 0 5px;
    }

    header .wrap{
        width: 20%;
    }
}

@media screen and (max-width: 500px){
    
    .searchTerm {
        font-size: 6px;
        padding: 5px;
        height: 15px;
    }
      
    .searchButton{
        padding: 2px 5px;
        height: 15px;
        font-size: 8px;
    }

    header .wrap{
        width: 23%;
    }
}

/*=============== TABEL PRODUK ===============*/

.kotak{
    margin-top: 90px;
    max-width: 1300px;
    background: rgb(54, 50, 50);
    margin-left: auto; 
    margin-right: auto;
    box-shadow: #00000059 0px 5px 15px;
    padding: 40px;
    color: white;
    border-radius: 5px;
}
.kotak h1{
    text-align: center;
}
.watch{
    width: 500px;
}

.jam-img img{
    height:90px;
    width:80px;
}

.bukti-img img{
    height:200px;
    width:200px;
}

.kotak button{
    margin-left: 2px;
    margin-bottom: 10px;
    border: 1 ;
    border-color: rgb(255,181,102);
    background: rgb(255,181,102);
}

.bx-plus{
    color: rgb(54, 50, 50);
    font-size: 40px;
}

.tabel-data .atas{
    background: rgb(255,181,102);
    color: rgb(54, 50, 50);
}

.tabel-data td{
    text-align: center;
}

.tabel-data{
    width: 100%;
    border: white;
    color: white;
}


.tabel-info1 td{
    text-align: left;
}

.bx-pencil{
    color: white;
    font-size: 25px;
    background-color: rgb(42, 193, 42);
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
}

.bx-trash{
    color: white;
    font-size: 25px;
    background-color: red;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
}

.bx-pencil:hover {
    background: green;
    transform: 0.3s all liners;
    z-index: -1;
}

.bx-trash:hover {
    background: rgb(117, 5, 5);
    transform: 0.3s all liners;
    z-index: -1;
}

@media screen and (max-width: 800px) {
    .kotak h1{
        font-size: 20px;
    }
    .kotak{
        margin-top: 70px;
        max-width: 1300px;
        padding: 20px;
    }
    .bx-plus{
        color: rgb(54, 50, 50);
        font-size: 20px;
    }
    .kotak button{
        margin-left: 2px;
        margin-bottom: 5px;
        border: 1 ;
        border-color: rgb(255,181,102);
        background: rgb(255,181,102);
    }
    .tabel-data{
        font-size: 10px;
    }
    
    .jam-img img{
        height:50px;
        width:50px;
    }
    .bukti-img img{
        height:100px;
        width:100px;
    }

    .watch{
        width: 200px;
    }
    .bx-pencil{
        color: white;
        font-size: 15px;
        background-color: rgb(42, 193, 42);
        padding: 3px;
        border-radius: 5px;
        text-decoration: none;
    }
    
    .bx-trash{
        color: white;
        font-size: 15px;
        background-color: red;
        padding: 3px;
        border-radius: 5px;
        text-decoration: none;
    }
}
    @media screen and (max-width: 500px) {
        .kotak h1{
            font-size: 15px;
        }
        .kotak{
            margin-top: 40px;
            max-width: 1300px;
            padding: 20px;
        }
        .bx-plus{
            color: rgb(54, 50, 50);
            font-size: 15px;
        }
        .kotak button{
            margin-left: 2px;
            margin-bottom: 5px;
            border: 1 ;
            border-color: rgb(255,181,102);
            background: rgb(255,181,102);
        }
        .tabel-data{
            font-size: 8px;
        }
        
        .jam-img img{
            height:30px;
            width:30px;
        }

        .bukti-img img{
            height:80px;
            width:80px;
        }
    
        .watch{
            width: 160px;
        }
        .bx-pencil{
            color: white;
            font-size: 10px;
            background-color: rgb(42, 193, 42);
            padding: 3px;
            border-radius: 5px;
            text-decoration: none;
        }
        
        .bx-trash{
            color: white;
            font-size: 10px;
            background-color: red;
            padding: 3px;
            border-radius: 5px;
            text-decoration: none;
        }
}

/*=============== ADD PRODUCT ===============*/

.add-jam{
    margin-top: 90px;
    max-width: 1300px;
    background: rgb(54, 50, 50);
    margin-left: auto; 
    margin-right: auto;
    box-shadow: #00000059 0px 5px 15px;
    padding: 40px;
    color: white;
    border-radius: 5px;
}

.form-buy{
    width: 300px;
}

.isi-buy{
    width: 300px;
}

.tabel-buy{
    margin-left: auto; 
    margin-right: auto;
}

.tabel-buy tr{
    height: 50px;
}

.input-add{
    width: 300px;
    height: 30px;
    font-size: 15px;
    border-color: rgb(255,181,102);
}

.submit{
    text-align: center;
}

.submit button{
    background: rgb(255,181,102);
    color: rgb(54, 50, 50);
    font-size: 20px;
    border-color: rgb(255,181,102);
}

.alamat{
    resize: none;
    height: 100px;
    width: 300px;
    border-color: rgb(255,181,102);
}

.harga-buy{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
    color: white;
    font-size: 18px;
}
@media screen and (max-width: 500px){
    .add-jam{
        margin-top: 40px;
        max-width: 1300px;
        padding: 30px;
        color: white;
        border-radius: 5px;
    }
    .tabel-buy{
        font-size: 8px;
    }
    .tabel-buy tr{
        height: 20px;
    }
    .isi-buy{
        width: 0px;
        font-size: 8px;
        margin-left: 10px;
    }
   
    .form-buy{
        font-size: 8px;
        width: 200px;
    }
    .harga-buy{
        font-size: 8px;
    }
    .input-add{
        width: 200px;
        height: 18px;
        font-size: 8px;
    }
    
    .submit{
        text-align: center;
    }
    
    .submit button{
        font-size: 10px;
    }
    

    .harga-buy{
        font-size: 10px;
    }
}


/*=============== List Req ===============*/
.list-req{
    margin-top: 90px;
    max-width: 1300px;
    background: rgb(54, 50, 50);
    margin-left: auto; 
    margin-right: auto;
    box-shadow: #00000059 0px 5px 15px;
    padding: 40px;
    color: white;
    border-radius: 5px;
}
.list-req h1{
    text-align: center;
}

.table-request .atas{
    background: rgb(255,181,102);
    color: rgb(54, 50, 50);
}

.table-request td{
    text-align: center;
}

.table-request{
    width: 100%;
    border: white;
    color: white;
}

.req-img img{
    height:90px;
    width:80px;
}

.bx-check{
    color: white;
    font-size: 25px;
    background-color: rgb(42, 193, 42);
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
}

.persetujian a .bx-x{
    color: white;
    font-size: 25px;
    background-color: red;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
}
.bx-check:hover {
    background: green;
    transform: 0.3s all liners;
    z-index: -1;
}

.persetujian a .bx-x:hover {
    background: rgb(117, 5, 5);
    transform: 0.3s all liners;
    z-index: -1;
}
@media screen and (max-width: 800px) {
    .list-req h1{
        font-size: 20px;
    }
    .list-req{
        margin-top: 70px;
        max-width: 1300px;
        padding: 20px;
    }

    .table-request{
        font-size: 10px;
    }
    
    .req-img img{
        height:50px;
        width:50px;
    }
    .bx-check{
        color: white;
        font-size: 15px;
        background-color: rgb(42, 193, 42);
        padding: 3px;
        border-radius: 5px;
        text-decoration: none;
    }
    
    .persetujian a .bx-x{
        color: white;
        font-size: 15px;
        background-color: red;
        padding: 3px;
        border-radius: 5px;
        text-decoration: none;
    }
}
    @media screen and (max-width: 500px) {
        .list-req h1{
            font-size: 15px;
        }
        .list-req{
            margin-top: 40px;
            max-width: 1300px;
            padding: 20px;
        }
        .table-request{
            font-size: 6px;
        }
        
        .req-img img{
            height:30px;
            width:30px;
        }

        .bx-check{
            color: white;
            font-size: 8px;
            background-color: rgb(42, 193, 42);
            padding: 3px;
            border-radius: 5px;
            text-decoration: none;
        }
        
        .persetujian a .bx-x{
            color: white;
            font-size: 8px;
            background-color: red;
            padding: 3px;
            border-radius: 5px;
            text-decoration: none;
        }
}
/*=============== Footer ===============*/
.footer{
    margin-top: 80px;
    background: rgb(54, 50, 50);
}

.footer1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer__title{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__list{
    color: white;
    text-decoration: none;
}

.footer__links a{
    color: white;
    text-decoration: none;
}

.footer__links a:hover {
    color: rgb(255,181,102);
}

.footer__social a{
    color: white;
    text-decoration: none;
}

.footer__social a:hover {
    color: rgb(255,181,102);
}

.footer__copy {
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    color: hsl(0, 0%, 55%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: white;
    box-shadow: 0 0 11px rgba(8, 7, 7, 0.6); 
    padding: .25rem;
    z-index: 1;
    opacity: .8;
    transition: .4s;
}
  
.scrollup:hover {
    opacity: 1;
}

.scrollup__icon {
    font-size: 1.5rem;
    color: rgb(255,181,102);
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 3rem;
}